<nav>

    <ul class="nav-list">
        <li class="nav-item"> <!-- Search -->
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="19" fill="none">
                    <path d="M10 7.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0v0Z" stroke="#524DD0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14 7.8C14 14.28 7.5 18 7.5 18S1 14.28 1 7.8C1 6 1.68 4.27 2.9 3a6.36 6.36 0 0 1 4.6-2c1.72 0 3.38.72 4.6 2C13.32 4.26 14 6 14 7.8v0Z" stroke="#524DD0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Search
            </a>
        </li>

        <li class="nav-item"> <!-- Book -->
            <a href="/book">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="19" fill="none">
                    <path d="M1 7.14V3.66c0-.43.35-.77.77-.77h1.98M1 7.14v10.09c0 .42.35.77.77.77H14.9c.42 0 .77-.35.77-.77V7.13M1 7.14h14.67m0 0V3.67a.77.77 0 0 0-.77-.77h-1.52m-9.63 0V1m0 1.89h9.63m0 0V1" stroke="#524DD0" stroke-width="2" stroke-linecap="round"/>
                    <path d="M5.58 9.5H3.75v1.89h1.83V9.5ZM9.25 9.5H7.42v1.89h1.83V9.5ZM12.92 9.5h-1.83v1.89h1.83V9.5ZM5.58 13.28H3.75v1.89h1.83v-1.9ZM9.25 13.28H7.42v1.89h1.83v-1.9Z" fill="#524DD0"/>
                </svg>
                Book
            </a>
        </li>

        <li class="nav-item"> <!-- Manage -->
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 20 17" fill="none">
                    <mask id="a" fill="#fff">
                        <rect width="20" height="7.08" rx="1"/>
                    </mask>
                    <rect width="20" height="7.08" rx="1" stroke="#524DD0" stroke-width="4" mask="url(#a)"/>
                    <mask id="b" fill="#fff">
                        <rect y="9.92" width="20" height="7.08" rx="1"/>
                    </mask>
                    <rect y="9.92" width="20" height="7.08" rx="1" stroke="#524DD0" stroke-width="4" mask="url(#b)"/>
                </svg>
                Manage
            </a>
        </li>

        <li class="nav-item"> <!-- Account -->
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 21 21" fill="none">
                    <circle cx="10.5" cy="10.5" r="9.5" stroke="#4F52C9" stroke-width="2"/>
                    <path d="M17.5 17.5c0-.83-.18-1.65-.53-2.41a6.3 6.3 0 0 0-1.52-2.04 7.1 7.1 0 0 0-2.27-1.37 7.68 7.68 0 0 0-7.63 1.37 6.3 6.3 0 0 0-1.52 2.04 5.76 5.76 0 0 0-.53 2.41" stroke="#524DD0" stroke-width="2"/>
                    <circle cx="10.5" cy="7.7" r="3.2" stroke="#524DD0" stroke-width="2"/>
                </svg>
                Account
            </a>
        </li>
    </ul>

</nav>